:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(174, 164, 164);
  text-decoration: inherit;
}
a:hover {
  color: #eb8d76;
}

html, body{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;

}


.brand {
  display: flex;
  font-weight: 500;
  padding: 25px;
  height: 100%;
  align-items: center;
}

.brand img{
  height: 100%;;
}

Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%; 
  background-color: #f7f7f7; /*#ce5e1d; */
  z-index:1001;
  border-bottom: 1px solid #e5e5e5;
}

Nav ul{
    list-style: none;
    margin: 0;
    padding-right: 25px;
}

Nav li{
  display: inline;
  float: right;
}

Nav li a {
  padding: 8px;
  color: rgb(174, 164, 164);
}

.content {
  /*background-color: cornflowerblue;*/
  /*justify-content: center;*/
  /* width: 100vw;*/
  height: 100%;
  z-index:1001;
}


.content svg {
  width: 100%;
  height: 99%;
}

.popup {
  display: none;
  position: absolute;
  top: 80px;
  width: 80%;
  height: 80%;
  background-color: #ce5e1d;
  z-index: 1002
}

.popup button{
  
  float: right;
  height: 50px;
  padding: 10px;
}

